#bounties-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    border: 2px solid black;
}

#bounty-list {
    overflow: scroll;
    max-height: 30vh;
    border: 3px solid green;
}
#bounty-list li {
    padding-top: 5%;
}
