#bounty-container {
    display: flex;
    justify-content: center;
    min-height: 7vh;
    gap: 50px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: goldenrod;
}

.heading {
    font-weight: 800;
}

#delete-button {
    padding: 1%;
    width: 20%;
    background-color: silver;
}

#delete-button:hover {
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
}

#edit-button {
    padding: 1%;
    width: 20%;
    background-color: silver;
}

#edit-button:hover {
    cursor: pointer;
    font-weight: 800;
    background-color: silver;
    opacity: 0.5;
}
